{% extends 'base.html' %}
{% block content %}

    <h1 class="display-4">RECEBA NOSSAS NOTICIAS</h1>
    <h1>______________________________</h1>
    <br />
    <label for="nome"><h5 class="display-4">Nome:</h5></label><br />
    <input type="text" id="nomeid" placeholder="Seu Nome" name="nome" /><br />
    <label for="nome"><h5 class="display-4">Email:</h5></label><br />
    <input type="text" id="emailid" placeholder="Email" name="email" /><br />

    <label for="prod"><h5 class="display-4">Produto</h5></label>
    <select name="tipo-produto" id="tipoid">
      <option value="1"><td>COVID-19</td></option>
      <option value="2"><td>CIÊNCIA</td></option>
      <option value="3"><td>TECNOLOGIA</td></option>
    </select>
    <br /><br />

    <div id="app">
      <button type="submit" v-on:click="greet">Enviar</button>
    </div>

    <script>
      var example2 = new Vue({
        el: "#app",
        data: {
          name: "Jovem",
        },
        // define métodos dentro do objeto `methods`
        methods: {
          greet: function (event) {
            // `this` dentro de métodos aponta para a instância Vue
            alert(
              "Olá " + this.name + "!" + "NewsLetter Cadastrada com sucesso!"
            );
            // `event` é o evento DOM nativo
            if (event) {
              alert(event.target.tagName);
            }
          },
        },
      });

      // você pode invocar métodos no JavaScript também
      example2.greet(); // => 'Cadastrado com Sucesso, espere nossas noticias!'
    </script>

  {% endblock %}